div.block {
    background-color: coral;
    margin: 8px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.block {
    height: 100px;
    min-width: 100px;
    flex-grow: 1;
}