* {
    box-sizing: border-box;
}

caption {
    margin-bottom: 8px;
}

table {
    width: 500px;
    margin: 16px;
    overflow-x: auto;
}

table, 
th,
td {
    border: 1px solid #000000;
    border-collapse: collapse;
}

thead > tr {
    background-color: #00ffff;
}

tr {
    height: 40px;
}

tbody > tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody > tr:hover {
    background-color: #aaaaaa;
    color: #ffffff;
}

th,
td {
    padding: 4px;
    text-align: right;
}

tfoot {
    font-weight: 700;
}