.header {
  background-color: darkgreen;
  height: 3em;
}

.menu {
  display: flex;
  list-style-type: none;
  padding-left: 3em;
  margin: 0;
  text-transform: uppercase;

  &__item {
    position: relative;
    display: block;
    color: white;
    padding: 0 8px;
    line-height: 3em;
    cursor: pointer;

    &:hover {
      background-color: yellowgreen;

      & .submenu {
        display: block;
      }
    }

    &_active {
      color: yellow;
    }
  }
}

// .header {
// background-color: darkgreen;
// height: 3em;
// }

// .menu {
// display: flex;
// list-style-type: none;
// padding-left: 3em;
// margin: 0;
// text-transform: uppercase;

// &__item {
// position: relative;
// display: block;
// color: white;
// padding: 0 8px;
// line-height: 3em;
// cursor: pointer;

// &:hover {
// background-color: yellowgreen;
// }
// }

// &__item_active {
// color: yellow;

// &:hover .submenu {
// display: block;
// }
// }
// }

// .header {
//   background-color: #006400;
// }

// .menu {
//   display: flex;
//   margin: 0;
//   margin-left: 3em;
//   padding: 0;
//   width: 100%;

//   &__item {
//     display: flex;
//     align-items: center;
//     height: 3em;
//     padding: 0 8px;
//     color: #ffffff;
//     text-transform: uppercase;

//     &:hover {
//       background-color: #9acd32;
//     }
//   }

//   &__item_active {
//     position: relative;
//     color: #ffff00;

//     &:hover .submenu {
//       display: block;
//     }
//   }
// }

.submenu {
  display: none;
  position: absolute;
  top: 3em;
  margin: 0;
  padding: 0;
  min-width: 120px;
  background-color: #ff7f50;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  z-index: 1;

  &__item {
    padding: 0 8px;

    &:hover {
      color: #000000;
    }
  }
}
