header h1 {
    text-align: center;
}

.articles-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article {
    flex-basis: 300px;
    margin: 8px;
    padding: 16px;
    background-color: bisque;
}