* {
    box-sizing: border-box;
}

.header {
    height: 50px;
    background-color: yellow;
}

.content {
    height: 500px;
    width: 80%;
    float: left;
    background-color: pink;
}

.sidebar {
    height: 500px;
    width: 20%;
    float: right;
    background-color: gray;
}

.footer {
    height: 50px;
    background-color: green;
    clear: both;
}